@{
    ViewData["Title"] = "Home Page";
}

<form action="/" method="post">
    <label for="serilano" class="label">Serial Number:</label>

    <input id="serilano" name="serialno" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"/>

    <label for="housingassociation">Housing Association:</label>

    <input id="housingassociation" name="housingassociation" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"/>

    <input type="submit" class="btn btn-primary"/>
</form>

